.bumping-text {
    display: inline-block;
    animation: bump-effect 2s infinite; /* 3-second cycle, repeating */
}

@keyframes bump-effect {
    0%, 100% {
        transform: scale(1) /* Original position */
    }
    25% {
        color: rgb(0, 139, 177);
        /* transform: scale(1.01) Move up slightly */
    }
    50% {
        ttransform: scale(1); /* Back to original position */
    }
    75% {
        /* transform: scale(1.01); Move down slightly */
        color: rgb(76, 0, 255)d;
    }
}
