/* Insights.css */
.insights-container {
    padding: 50px;
    background-color: #ced5dc;
}

.insights-title {
    text-align: center;
    margin-bottom: 40px;
    font-size: 2.5rem;
    color: #343a40;
}

.articles-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 30px;
    justify-items: center;
    margin-bottom: 40px;
}

.back-button {
    display: block;
    text-align: center;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #6c757d;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
}

.back-button:hover {
    background-color: #5a6268;
}


.insights-title {
    text-align: center;
    background: linear-gradient(270deg, #cb9021, #d5a83a, #cb9021); /* Gradient background */
    color: rgb(255, 255, 255);
    padding: 8px;
    letter-spacing: 8px;
    font-family:inherit;
    border-radius: 8px; /* Add slight border-radius for better aesthetics */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
    background-size: 300% 100%; /* Allow the gradient to expand for animation */
    animation: liquidEffect 3s ease infinite; /* Animation for liquid effect */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}